<% provide(:title, 'Sign up') %>
<div class="user_forms">
  <h1>Join Twittwo</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user, url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.text_field :name, :placeholder => 'Full name', class: 'form-control form-custom' %>

        <%= f.email_field :email, :placeholder => 'Email', class: 'form-control form-custom' %>

        <%= f.password_field :password, :placeholder => 'Password', class: 'form-control form-custom' %>

        <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation', class: 'form-control form-custom' %>

        <%= f.submit "Create account", class: "btn btn-lg btn-custom" %>
      <% end %>
      <small>By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by searching for your email address or phone number when provided.</small>
    </div>
  </div>
</div>
